body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .5s;
}

.group a {
  border-bottom: 1px solid #fbfabf;
}

.group a:hover {
  border-bottom: 1px solid #000;
}

h3 a {
  border-bottom: 1px solid #000;
}

h3 a:hover {
  border-bottom: 1px solid #fff;
}

#Global-objects,
#Basic {
  border-bottom: 1px solid #000;
  font-size: 2rem;
  margin: 1rem;
}

.docs h1.title {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.docs section h2.title {
  width: 100%;
  margin: 1rem;
}

.docs section,
.docs section #Value-function-properties ,
.docs section #Value-function-properties .doc ,
.docs section #Fundamental-objects ,
.docs section #Numbers-and-dates ,
.docs section #Numbers-and-dates .doc ,
.docs section #Keyed-collections,
.docs section #Text-processing,
.docs section #Text-processing .doc,
.docs section .doc {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.docs section .doc {
  background-color: #fbfabf;
  margin: 1rem;
}

.docs section .doc .group {
  margin: 1rem;
}

.docs section .doc h3 {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.docs section .doc h4 {
  margin: 1rem 0 .4rem;
}

.docs section .doc h5 {
  margin: .5rem .2rem .2rem;
  font-size: .9rem;
}

.docs section .doc h6 {
  margin: .8rem .2rem .2rem;
  font-size: .7rem;
}

.docs section .doc .command {
  padding: .2rem;
}

.docs #Keywords ul {
  padding: 0;
  list-style-type: none;
  columns: 4;
}